@import 'tailwindcss';

@variant dark (&:where(.dark, .dark *));

:root {
    --background: #f4f5f7;
    --foreground: #171717;
    --border: rgba(0, 0, 0, 0.08);
    --accent: rgba(0, 0, 0, 0.04);
    --primary: #f25912;
    --header-height: 64px;
    --sidebar-width: 280px;
}

.dark {
    --background: #0a0a0a;
    --foreground: #ededed;
    --border: rgba(255, 255, 255, 0.145);
    --accent: rgba(255, 255, 255, 0.04);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-border: var(--border);
    --color-accent: var(--accent);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-primary: var(--primary);
    --spacing-header: var(--header-height);
    --spacing-sidebar: var(--sidebar-width);
}

body {
    background: var(--background);
    color: var(--foreground);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

    * {
        box-sizing: border-box;
    }
}
